@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    margin: 0px;
    box-sizing: border-box;
}
.container-header{
    background: #131313;
    height: 6vh;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
}
.details{
    display: flex;
    gap: 1rem;
}
.detaills{
    display: flex;
    gap: 1rem;
}
.detaills>h3{
    display: flex;
    gap: 1rem;
    
    margin-left: 15px;
    margin: 15px;
}
.logas{
    width: 30px;
    height: 30px;
    margin-top: -5px;
}
.details>h3{
    display: flex;
    gap: 1rem;
    margin-left: 20px;
    margin: 15px;
}
.container-navbar{
    height: 10vh;
    box-shadow: 0 0 2px 1px gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 250px;
    height: 150px;
    margin-top: -30px;
    cursor: pointer;
}
.a{
    text-decoration: none;
    list-style: none;
   
}
ul{
    display: flex;
    gap: 2rem;
    margin: 30px;
}
ul li{
    transition: 0.5s;
    font-weight: bolder;
    font-size: 19px;
}
ul li:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}

.container-footer{
    background: #080C25;
    height: 36vh;
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    gap: 4REM;
}
.blog{
    font-size: 15px;
    color: gray;
    margin-top: 30px;
}
.titre{
    text-align: center;
    font-size: 20px;
}
.footer-details{
    margin: 40px;
}

.container-login{
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.tiret{
    color: gray;
}
.container-logine{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.login-titre{
    display: flex;
    background: rgb(240, 236, 236);
    height: 50px;
    color: black;
}
.ul{
    margin-top: 13px;
}
.login{
    box-shadow: 0 0 5px 0 gray;
    height: 50vh;
    width: 60%;
    margin-left: 20%;
    margin-top: 90px;
    border-radius: 8px;

}
.logine{
    box-shadow: 0 0 5px 0 gray;
    height: 72vh;
    width: 60%;
    margin-left: 20%;
    margin-top: 40px;
    border-radius: 8px;
}

.w-70{
    width: 94%;
}
.container-map{
    display: flex;
    flex-direction: column;
    height: 160vh;
    width: 100%;
}
.serc{
    height: 1%;
    width: 100%;
    margin-top: 80px;
}
.map{
    height: 20%;
    width: 100%;
}
.tec{
    color: rgb(22, 124, 214);
    height: 8%;
    width: 100%;
    display: flex;
    margin-top: 90px;
}
h5{
  margin-top: 55px;
}
.log{
    margin-left: 35%;
    width: 100px;
    margin-top: 30px;
    height: 80px;
}
.about{
    height: 55%;
    width: 100%;
    display: flex;
    gap: 2rem;

}
.about-blog{
    background: rgb(224, 219, 219);
    height: 100%;
    width: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.about-blog2{
    background: rgb(224, 219, 219);
    height: 100%;
    width: 100%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}
.about-header{
    background: #080C25;
    height: 8%;
    width: 100%;
}
.titre-details{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-details{
    height: 90%;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.flex1{
    width: 20%;
    height: 95%;
    display: flex;
    flex-direction: column;
}
.flex2{
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.flex2-titre{
    height: 20%;
    width: 100%;
    margin-top: 35px;
}
.flex2-details{
    height: 60%;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}
.details-img{
    background: #000;
    height: 100%;
    width: 30%;
}
.details-text{
    height: 100%;
    width: 70%;
}
.rond{
    background: #080C25;
    height: 35%;
    width: 40%;
    margin-left: 60px;
    border-radius: 50%;
    margin-top: 20px;
}
.vertical{
    background: #080C25;
    height: 100%;
    width: 1%;
    margin-left: 83px;
    margin-top: 3px;
}
.number{
    color: white;
    text-align: center;
    margin-top: 13px;
    font-size: 17px;
}

.container-service{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.horizontale{
    height: 1px;
    background: #000;
    width: 96%;
    margin-top: 13px;
}
.resultat{
    height: 10%;
    width: 90%;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
.service-blog{
    height: 93%;
    width: 60%;
    margin-left: 100px;
    flex-direction: column;
    display: flex;
    gap: 2rem;
}
.blog-container{
    height: 25%;
    width: 100%;
    display: flex;
    gap: 2rem;
    background: rgb(228, 227, 227);
    border-radius: 8px;
}
.blog-cover{
    height: 100%;
    width: 30%;
}
.blog-serive-details{
    height: 100%;
    width: 70%;
}
.contact{
    display: flex;
    gap: 5rem;
    margin-left: 30px;
}
.blog-serive-details >h3{
    margin-left: 30px;
    height: 20%;
}
.button{
    margin-left: 30px;
    height: 18%;
    margin-top: 10px;
    width: 40%;
    border-radius: 0.4rem;
    color: white;
    background: #080C25;
    transition: 0.5s;
}
.button:hover{
    transform: scale(1.1,1.1);
    transition: 0.5;
}
.contact >h3{
    background: white;
    width: 50px;
    height: 20px;
    text-align: center;
}
.flex-d{
    display: flex;
    width: 100%;
    height: 100vh;
    background: gray;
}
.flex-d-container1{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    background: rgb(214, 210, 210);
}
.flex-d-container2{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    background: rgb(126, 72, 72);
}
.flex-d-container3{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    background: rgb(232, 231, 231);
}
.name{
    display: flex;
    gap: 1rem;
    width: 100%;
}
.nam{
    display: flex;
    gap: 1rem;
    width: 100%;
}
.card-header>h3{
    text-align: center;
}
.w-60{
    width: 80%;
    margin-left: 50px;
}
.lien{
    width: 46%;
    margin-top: -78px;
    margin-left: 53%;
}
.loga{
    width: 20px;
    height: 20px;
}
.container-search{
    background: rgb(35, 39, 39);
    height: 90px;
    width: 100%;
}
.w-10{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -15px;
}
.ze{
    list-style: none;
}

.continair-formulaire{
    display: flex;
    gap: 1rem;
    width: 100%;
    
}
.list-form{
    display: flex;
    width: 70%;
    background:white;
    height: 100%;
    flex-direction: column;
    margin-top: 10px;
}
.formulaire{
    display: flex;
    width: 30%;
    height: 100%;
    background: rgb(168, 167, 174);
    border-radius: 8px;
    margin-top: 50px;
    margin-left: -50px;
}
.container-cart{
    display: flex;
    width: 100%;
    height: 20%;
    background: #ebecec;
    border-radius: 8px;
}
.cart{
    display: flex;
    width: 30%;
    background: rgb(105, 105, 108);
}
.cart-details{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background: rgb(234, 238, 234);
}
.cart-details>h3{
    margin-left: 20px;
    margin-top: 5px;
}
.name>h3{
    margin-left: 20px;
    margin-top: 5px;
}
.mvb{
    width: 50%;
    margin-top: 5px;
    margin-left: 20px;
}
.img-profile{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.titre-ajoute{
    height: 60px;
    width: 100%;
    background: rgb(168, 167, 174);
    text-align: center;
    font-weight: bolder;
    font-size: 27px;
    margin-top: 25px;
}
.nbr{
    font-weight: bolder;
    font-size: 23px;
    color: #152cc8;
}
.ac{
    text-decoration: none;
    color: white;
}
.cv{
    margin-left: 130px;
    margin-top: -55px;
}
.ac:hover{
    color: white;
}
.container-tec{
    display: flex;
    width: 100%;
    gap: 1rem;
    height: 1300px;
}
.container-infos{
    display: flex;
    width: 50%;
    height: 100;
    background: #000;
    margin: 30px;
    flex-direction: column;
}
.info-titre{
    background: #131313;
    width: 100%;
    height: 6%;
    display: flex;
}
.info-details{
    background: rgb(210, 221, 233);
    width: 100%;
    height: 94%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.infos{
    width: 100%;
    height: 33%;
    display: flex;
    gap: 0.5rem;
}
.info-blog{
    background: rgb(210, 221, 233);
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.ronde{
    background: #131313;
    width: 50%;
    height: 30%;
    display: flex;
    border-radius: 50%;
    margin-left: 35px;
    margin-top: 5px;
}
.ronde>h3{
    margin-left: 27px;
    margin-top: 18px;
    color: white;
}
.tirets{
    background: #131313;
    width: 2%;
    height: 70%;
    display: flex;
    margin-left:65px;
}

.info-blog1{
    
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.titre-infos{
    background: rgb(210, 221, 233);
    width: 100%;
    height: 20%;
    display: flex;
    margin-top: 8px;
}
.container-info-details{
    width: 100%;
    height: 80%;
    display: flex;
    gap: 1rem;
}
.img-details-info{
    background: rgb(210, 221, 233);
    width: 70%;
    height: 100%;
    display: flex;
}
.img-details-info>h3{
    margin-top: 20px;
}
.img-info{
    background: white;
    width: 30%;
    height: 100%;
    display: flex;
    border-radius: 20px;
}
.info-titre>h3{
    color: white;
    margin-left: 110px;
    margin-top: 5px;
}
.titre-infos>h3{
    margin-top:10px;
}
.lo{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}